body{
    background-image: url("Backrooms_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#c{
    text-align: center;
}
#c1{
    text-align: center;
}
#copy{
    text-align: center;
}